[submodule ".config/nvim"]
	path = .config/nvim
	url = ../ArchNvim.git
	branch = main
[submodule ".config/wezterm"]
	path = .config/wezterm
	url = ../ArchWezTerm.git
	branch = main
[submodule ".config/awesome"]
	path = .config/awesome
	url = ../ArchAwesome.git
	branch = main
